.container {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 0.5rem;
}

h1 {
    font-size: 2.25rem;
}

p {
    font-size: 1.25rem;
}

button {
    padding: 0.5rem;
    background: var(--button);
    color: var(--text);
    border-radius: 0.25rem;
    width: 13rem;
    margin: 10px;
    font-size: 1.25rem;
}

label {
    font-size: 1.25rem;
    margin: 10px;
}

input {
    font-size: 1.5rem;
}

* {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  }

b{
    font-size: 1.5rem;
}

