.container {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 0.5rem;
}

h1 {
    font-size: 2.25rem;
}

p {
    font-size: 1.25rem;
}

button {
    padding: 0.5rem;
    background: var(--button);
    color: var(--text);
    border-radius: 0.25rem;
    width: 15rem;
    margin: 10px;
    font-size: 1.25rem;
    justify-content: center;
}
.btn
{
background-color: skyblue;
background-image: linear-gradient(to right, skyblue, pink 65%);
border-radius: 5px;
margin: 0px;
border: 0px solid skyblue;
color:#222831;
cursor: pointer;
font-size: 0.5rem;
font-weight: bold;
letter-spacing: 0.1rem;
padding: 0.9rem 4rem;
text-transform:uppercase;
transition: transform 80ms ease-in
}

label {
    font-size: 1.25rem;
    margin: 10px;
}

input {
    font-size: 1.5rem;
}

* {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
  }

b{
    font-size: 1.5rem;
}

